/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Playfair Display", serif;
}
body,
#root {
	max-height: 100vh;
}
.bg-image {
	background-image: url("../src/assets/mathbg.jpg");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.home {
	position: absolute;
	background: rgb(255, 255, 255);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
	z-index: 2;
}
.flex-c a {
	color: black;
}
.flex-c a:hover,
.active-link {
	background: #0275d8;
	color: white !important;
}
#has-acct {
	display: none;
}
.profile:hover {
	background-color: #bcc0c2;
	color: #212529;
}
.profile {
	display: block;
	width: 100%;
	padding: 0.25rem 1.5rem;
	color: #212529;
}
a {
	text-decoration: none !important;
}
.subject-container:hover {
	background-color: rgb(236, 238, 240) !important;
}
.reg-error {
	list-style-position: inside;
}
.tryit {
	white-space: pre-line;
}
#nav-dropdown {
	background: none;
	border: none;
	box-shadow: none;
}
.set-width {
	width: 85%;
}
.fas {
	cursor: pointer;
}
.yolo {
	max-height: 100vh;
}
#math,
#math.active {
	color: white;
	font-size: 1.5em;
}

/* media queries */
@media (max-width: 576px) {
	.reg-container {
		border-right: none;
	}
	.source {
		font-size: 0.85rem !important;
	}
}
@media (min-width: 767px) {
	#acct-chg {
		width: 50% !important;
	}
}
@media (max-width: 767px) {
	.q-user {
		text-align: left !important;
	}
	.mq-font {
		font-size: 0.75rem;
	}
	#acct-chg {
		width: 75% !important;
	}
	.acct-font {
		font-size: 1.3rem;
	}
	.home {
		width: 80%;
	}
}
@media (min-width: 768px) and (max-width: 900px) {
	.home {
		width: 70%;
	}
}
@media (max-width: 991px) {
	#answer-btn {
		text-align: left !important;
	}
}
@media (max-width: 1039px) {
	.source {
		font-size: 1rem;
	}
}
@media (min-width: 901px) and (max-width: 1150px) {
	.home {
		width: 55%;
	}
}
