*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}
.bg-image{
  background-image: url('../src/images/mathbg.jpg');
  height: 100vh; 
  background-repeat: no-repeat;
  background-size: cover;
}
.home{
  position: absolute;
  background: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  z-index: 2;
}
.flex-r{
  display: flex;
  flex-flow: row nowrap;
  color: white;
  border-bottom: 1px solid rgb(206, 211, 206);
}
.flex-c{
  display: flex;
  flex-flow: column nowrap;
  width: 20%;
}
.subject{
  display: inline-block;
  border-bottom: 1px solid rgb(206, 211, 206);
  /* border-right: 1px solid rgb(206, 211, 206); */
  padding: 1.50rem 3rem 1.50rem 1.5rem;
  border-top: none;
  width: 100%;
  /* background: rgb(240, 243, 240); */
  /* background: rgb(228, 230, 230);
  /* font-family: 'Shadows Into Light', cursive; */
}
.border-b{
  border-bottom: none;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none !important;
}
.flex-r a{
  display: inline-block;
  padding: 1.75rem 1.5rem;
  color: white;
}
.flex-c a{
  color: black;
  /* color: rgb(41, 72, 129); */
  /* font-weight: bold; */
}
.flex-c a:hover{
  background: rgb(178, 179, 178);
  color: white;
  text-decoration: none;
}
#welcome, #app-title{
  flex-basis: 50%;
}
/* #app-title{
  font-family: 'Shadows Into Light', cursive;
} */
#welcome{
  text-align: right;
}
.bg-img{
  /* background-image: url('/public/mathbg.jpg');
  background-size: cover; */
  /* background: rgb(70, 117, 218); */
  background: black;
  /* background: linear-gradient(to right,  rgb(65, 187, 65), rgb(25, 151, 25) ); */
}
#has-acct{
  display: none;
}
.log-link, #has-acct{
  cursor: pointer;
}